*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.hdr{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/projek_mandiri/img/jumbotron.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#navbar{
    overflow: hidden;
    z-index: 1;
}

.text-box {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 86%;
}

.sticky + .content {
    padding-top: 60px;
}


li,a,button{
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #222629;
}  

.logo{
    cursor: pointer;
    font-size: 29px;
    color: #87C232;
}

.logo:hover{
    color: #6A6E71;
}

.menu {
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 0px 20px;
}

.menu li a{
    transition: all 0.3s ease 0s;
}

.menu li a:hover { 
    color:#87C232 ;
}

button{
    padding: 9px 25px;
    background-color:#87C232 ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:#6A6E71 ;
}

/* Text-Awal */

.text-box{
    padding-top: 240px;
    min-height: 100vh;
    color:#222629;
    top: 50%;
    left: 50%;
    text-align: center;
}

text-box-content{
    margin: auto;
}

.text-box h1{
    font-size: 62px;
    color: #fff;
}

.text-box p{
    font-size: 15px;
    color: #fff;
    align-items: center;
    line-height: 30px;
    margin-top: 40px;
    width: 60%;
    padding-left: 20%;
    text-align: justify;
}

/* Download Content*/
section.download-content{
    background-color: #222629;
}
.container{
    padding-top:90px;
    min-height:100vh ;
    width: 100%;
}

.container h3{
    font-size: 56px;
    text-align: center;
    font-weight: 300;
    line-height: 67.2px;
    color: #618930;
}

.container p{
    font-size: 14px;
    text-align: center;
    line-height: 30.6px;
    color: #fff;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0 24px ;
}
.os-type{
    flex-basis: 31%;
    background-color: #474A4F;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.os-type button{
    margin: 10px 30%;
}


/*Footer*/

footer{
    padding-top: 10px;
    padding-bottom: 10px;
	background-color: #474A4F;
	color: #87C232;
}

.footer-upper{
    padding-top: 30px;
    padding-bottom: 30px;
	background-color: #474A4F;
	color: #87C232;

}
.footer-wrapper{
    width: 100%;
    color: #87C232;
    height: 15vh;
}

.footer-down{
    text-align: center;
}


.content{
    width: 20%;
    float: left;
    margin-left: 120px ;
    padding-bottom: 30px;
}

.content ul{
    list-style: none;
    padding-left: 10px;
}

.content a{
    color: #fff;
    text-decoration: none;
}

.content a i{
    font-size: 30px;
}

.content-2{
    width: 20%;
    float: left;
    margin-left: 240px ;
    padding-bottom: 30px;
}

.content-2 a{
    color: #fff;
    text-decoration: none;
}

.content-2 a i{
    font-size: 30px;
}

.content-3{
    width: 20%;
    float: left;
    margin-left: 120px ;
    padding-bottom: 30px;
}

.content-3 img{
    width: 150px;
}

.content,.content-3,.content-2  h3{
    margin-bottom: 10px;
}